node:
  chain: rococo-local
  role: full
  replicas: 2
  chainData:
    storageClass: standard
    volumeSize: 1Gi
  chainKeystore:
    storageClass: standard
    mountInMemory:
      enabled: true
  podManagementPolicy: Parallel
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: Delete
    whenScaled: Delete
  substrateApiSidecar:
    enabled: true
  enableSidecarReadinessProbe: true
  perNodeServices:
    relayP2pService:
      enabled: true
      type: NodePort
    setPublicAddressToExternalIp:
      enabled: false
ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
  rules:
  - host: dev-rpc.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: dev-rpc-node
            port:
              name: rpc
image:
  tag: v1.0.0
  repository: docker.io/parity/polkadot
wsHealthExporter:
  resources:
    requests:
      cpu: 10m
      memory: 32M
    limits:
      cpu: 200m
      memory: 64M
  env:
    WSHE_NODE_MAX_UNSYNCHRONIZED_BLOCK_DRIFT: "4"
    WSHE_NODE_MIN_PEERS: "0"
terminationGracePeriodSeconds: 10

substrateApiSidecar:
  image:
    repository: parity/substrate-api-sidecar
    tag: v19.1.0
  metrics:
    enabled: true
