{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "faucet.serviceAccountName" . }}
  labels:
{{ include "faucet.labels" . | nindent 4 }}
{{- end -}}
