{{ if .Values.node.persistGeneratedNodeKey }}
{{ else if .Values.node.customNodeKey }}
apiVersion: v1
kind: Secret
metadata:
  name: custom-node-key
data:
  custom-node-key: {{ .Values.node.customNodeKey | mustRegexFind "^[0-9a-zA-Z]{64}$" | b64enc }}
{{ end }}
