{{ $fullname :=  include "node.fullname" . }}
{{ $selectorLabels :=  include "node.selectorLabels" .  }}
{{ $serviceLabels :=  include "node.serviceLabels" .  }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullname }}
  labels:
    {{- include "node.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    {{- $selectorLabels | nindent 4 }}
  ports:
    {{- if $.Values.node.substrateApiSidecar.enabled }}
    - port: 8080
      name: api-sidecar
    {{- end }}
    - port: 9933
      name: http-rpc
    - port: 9944
      name: websocket-rpc
---
{{range $i := until (.Values.node.replicas | int) }}
{{- if $.Values.node.perNodeServices.apiService.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullname }}-{{ $i }}
  labels:
    {{- $serviceLabels | nindent 4 }}
    node: {{ $fullname }}-{{ $i }}
    instance: {{ $fullname }}-{{ $i }}
  annotations:
{{- if $.Values.node.perNodeServices.apiService.externalDns.enabled }}
    external-dns.alpha.kubernetes.io/hostname: {{ $fullname }}-{{ $i }}.{{ $.Values.node.perNodeServices.apiService.externalDns.hostname }}
    external-dns.alpha.kubernetes.io/ttl: {{ $.Values.node.perNodeServices.apiService.externalDns.ttl | squote }}
{{- end }}
{{- with $.Values.node.perNodeServices.apiService.annotations }}
{{ toYaml . | indent 4}}
{{- end }}
spec:
  {{- if eq $.Values.node.perNodeServices.apiService.type "NodePort" }}
  type: NodePort
  externalTrafficPolicy: Local
  {{- else if eq $.Values.node.perNodeServices.apiService.type "ClusterIP" }}
  type: ClusterIP
  clusterIP: None
  {{- else if eq $.Values.node.perNodeServices.apiService.type "LoadBalancer" }}
  type: LoadBalancer
  {{- end }}
  selector:
    {{- $selectorLabels | nindent 4 }}
    statefulset.kubernetes.io/pod-name: {{ $fullname }}-{{ $i }}
  ports:
    - port: {{ $.Values.node.perNodeServices.apiService.httpPort }}
      name: http-rpc
    - port: {{ $.Values.node.perNodeServices.apiService.wsPort }}
      name: websocket-rpc
    - port: {{ $.Values.node.perNodeServices.apiService.prometheusPort }}
      name: prometheus
    {{- if $.Values.node.collator.prometheus.enabled }}
    - port: {{ $.Values.node.collator.prometheus.port }}
      name: prom-parachain
    {{- end }}    
{{- end }}
---
{{- if $.Values.node.perNodeServices.relayP2pService.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullname }}-{{ $i }}-relay-chain-p2p
  labels:
    {{- include "node.labels" . | nindent 4 }}
  annotations:
{{- if $.Values.node.perNodeServices.relayP2pService.externalDns.enabled }}
    external-dns.alpha.kubernetes.io/hostname: {{ $fullname }}-{{ $i }}.{{ $.Values.node.perNodeServices.relayP2pService.externalDns.hostname }}
    external-dns.alpha.kubernetes.io/ttl: {{ $.Values.node.perNodeServices.relayP2pService.externalDns.ttl | squote }}
{{- end }}
{{- with merge $.Values.node.perNodeServices.relayP2pService.annotations $.Values.node.perNodeServices.paraP2pService.annotations }}
{{ toYaml . | indent 4}}
{{- end }}
spec:
  {{- if eq $.Values.node.perNodeServices.relayP2pService.type "NodePort" }}
  type: NodePort
  externalTrafficPolicy: Local
  {{- else if eq $.Values.node.perNodeServices.relayP2pService.type "ClusterIP" }}
  type: ClusterIP
  {{- else if eq $.Values.node.perNodeServices.relayP2pService.type "LoadBalancer" }}
  type: LoadBalancer
  {{- end }}
  selector:
    {{- $selectorLabels | nindent 4 }}
    statefulset.kubernetes.io/pod-name: {{ $fullname }}-{{ $i }}
  ports:
    - name: p2p
      port: {{ $.Values.node.perNodeServices.relayP2pService.port }}
      targetPort: 30333
{{- end }}
---
{{- if and $.Values.node.collator.isParachain $.Values.node.perNodeServices.paraP2pService.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullname }}-{{ $i }}-para-chain-p2p
  labels:
    {{- include "node.labels" . | nindent 4 }}
  annotations:
{{- if $.Values.node.perNodeServices.paraP2pService.externalDns.enabled }}
    external-dns.alpha.kubernetes.io/hostname: {{ $fullname }}-{{ $i }}.{{ $.Values.node.perNodeServices.paraP2pService.externalDns.hostname }}
    external-dns.alpha.kubernetes.io/ttl: {{ $.Values.node.perNodeServices.paraP2pService.externalDns.ttl | squote }}
{{- end }}
{{- with merge $.Values.node.perNodeServices.relayP2pService.annotations $.Values.node.perNodeServices.paraP2pService.annotations }}
{{ toYaml . | indent 4}}
{{- end }}
spec:
  {{- if eq $.Values.node.perNodeServices.paraP2pService.type "NodePort" }}
  type: NodePort
  externalTrafficPolicy: Local
  {{- else if eq $.Values.node.perNodeServices.paraP2pService.type "ClusterIP" }}
  type: ClusterIP
  {{- else if eq $.Values.node.perNodeServices.paraP2pService.type "LoadBalancer" }}
  type: LoadBalancer
  {{- end }}
  selector:
    {{- $selectorLabels | nindent 4 }}
    statefulset.kubernetes.io/pod-name: {{ $fullname }}-{{ $i }}
  ports:
    - name: p2p
      port: {{ $.Values.node.perNodeServices.paraP2pService.port }}
      targetPort: 30334
{{- end }}
---
{{ end }}
