{{ range $val := .Values.rewards }}
{{ range $reward_owner := tuple "ThisChain" "BridgedChain" }}
{{- $typesVolumeName := printf "types-override-%s" ($val.name | lower | trunc 40 | trimSuffix "-") }}
{{- $typesFile := default "bridge-reward-types-override.json" $val.types_override_filename }}
{{- $typesArgs := "" }}
{{- if $val.types_override }}
{{- $typesArgs = printf " --types /types/%s" $typesFile }}
{{- end }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: bridge-{{ $val.name | lower }}-{{ $reward_owner | lower }}
  labels:
    {{- include "bridges-common-relay.labels" $ | nindent 4 }}
spec:
  schedule: {{ $val.schedule | quote }}
  concurrencyPolicy: Forbid # Because of extrinsic nonces.
  jobTemplate:
    metadata:
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") $ | sha256sum }}
      labels:
        {{- include "bridges-common-relay.labels" $ | nindent 8 }}
    spec:
      backOffLimit: 0
      template:
        metadata:
          annotations:
          {{- with $.Values.podAnnotations }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
        spec:
          restartPolicy: Never
          serviceAccountName: {{ include "bridges-common-relay.serviceAccountName" $ }}
          {{- if or $.Values.secrets $.Values.existingSecretName }}
          volumes:
            - name: secrets
              secret:
                secretName: {{ include "bridges-common-relay.secretName" $ }}
                optional: false
          {{- if $val.types_override }}
            - name: {{ $typesVolumeName }}
              configMap:
                name: {{ include "bridges-common-relay.fullname" $ }}-{{ $val.name | lower }}-types
          {{- end }}
          {{- end}}
          containers:
            - name: bridges-common-relay-{{ $val.name | lower }}-{{ $reward_owner | lower }}
              image: paritytech/polkadotjs-cli:latest
              imagePullPolicy: IfNotPresent
              env:
                - name: RPC_URL
                  value: {{ $val.rpc_url | quote }}
              command:
                - /bin/bash
                - -c
                - |
                  set -euo pipefail

                  rewards_account_params=$(
                    jq --null-input \
                      --arg lane_id {{ $val.lane_id | quote }} \
                      --arg bridged_chain_id {{ $val.bridged_chain_id | quote }} \
                      --arg owner {{ $reward_owner | quote }} \
                      '{
                          "laneId": $lane_id,
                          "bridgedChainId": $bridged_chain_id,
                          "owner": $owner
                        }'
                  )
                  {{- if $val.params_wrapper }}

                  rewards_account_params=$(jq -n --arg key {{ $val.params_wrapper | quote }} --argjson params "$rewards_account_params" '{($key): $params}')
                  {{- end }}

                  reward=$(
                    polkadot-js-api --ws "$RPC_URL"{{ $typesArgs }} query.bridgeRelayers.relayerRewards \
                      {{ $val.address | quote }} \
                      "$rewards_account_params" \
                      | jq -r '.relayerRewards'
                  )
                  if [[ "$reward" == "null" || "$reward" == "0" ]]
                  then
                    echo "No reward to claim, exiting."
                    exit 0
                  fi
                  echo "{{ $val.name }} on {{ $reward_owner }} has a reward of ${reward}."

                  # Avoid nonce collision with "ThisChain".
                  {{ if eq $reward_owner "BridgedChain" }}sleep 10{{ end }}

                  polkadot-js-api --ws "$RPC_URL"{{ $typesArgs }} \
                      --seed "$(cat /secrets/{{ $val.seed_phrase_secret_name }})" \
                    tx.bridgeRelayers.claimRewards "$rewards_account_params"
              resources:
                {{- toYaml $.Values.resources | nindent 16 }}
             {{- if or $.Values.secrets $.Values.existingSecretName }}
              volumeMounts:
                - name: secrets
                  mountPath: "/secrets"
                  readOnly: true
              {{- if $val.types_override }}
                - name: {{ $typesVolumeName }}
                  mountPath: "/types"
                  readOnly: true
              {{- end}}
             {{- end}}
---
{{- end }}
{{- end }}
