# Default values for polkadot-notification-service.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

config:
  # number of items in configFiles is equals to replicaCount
  configFiles:
    - |
      accounts:
        - address: "SS85 ADDRESS HERE"
          label: "This is the label for the 1st account"
        - address: "SS85 ADDRESS HERE"
          label: "This is the label for the 2nd account"
      endpoints:
        - "wss://westend-rpc.polkadot.io"
        - "wss://rococo-rpc.polkadot.io"
      extrinsicFilter: []
      eventFilter:
        - "system.CodeUpdated"
        - "democracy.Passed"
        - "imonline.SomeOffline"
      reporters:
        console: true
        matrix:
          userId: "Pass via MATRIX_USERID env variable secret"
          accessToken: "Pass via MATRIX_ACCESSTOKEN env variable secret"
          roomId: "!1234example4321:matrix.parity.io"
          server: "https://matrix.parity.io"
  secret:
    MATRIX_ACCESSTOKEN: ""
    MATRIX_USERID: ""
    # A name of the existing secret with MATRIX_ACCESSTOKEN and MATRIX_USERID. See secrets.yaml
    existingSecret: ""

env: {}

envFrom: []

image:
  repository: rbazen/polkadot-notifications #To be replaced once public image is available
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: latest

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

serviceMonitor:
  enabled: false
  annotations: {}

  ## List of endpoints of service which Prometheus scrapes
  ##
  endpoints:
  - path: /metrics
    port: http
    interval: 1m
    scheme: http
    scrapeTimeout: 30s
    honorLabels: true

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
