{{ $rolesSupported := include "introspector.rolesSupported" . }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "polkadot-introspector.fullname" . }}
  labels:
    {{- include "polkadot-introspector.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "polkadot-introspector.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "polkadot-introspector.labels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "polkadot-introspector.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/sh"]
          args:
            - -c
            - |
              {{- if not (regexMatch $rolesSupported .Values.introspector.role) }}
              {{- fail (printf "Error: introspector.role='%s' is not supported, it must be validated by this regex '%s'" .Values.introspector.role $rolesSupported) }}
              {{- else }}
              {{-  if eq .Values.introspector.role "block-time"}}
              exec polkadot-introspector/polkadot-block-time \
              {{- else if eq .Values.introspector.role "parachain-tracer"}}
              exec polkadot-introspector/polkadot-parachain-tracer \
              {{- if .Values.introspector.enableAllParas }}
              --all \
              {{- else }}
              {{- range .Values.introspector.paraIds }}
              --para-id {{ . }} \
              {{- end }}
              {{- end }}
              {{- end }}
              --ws {{ join "," .Values.introspector.rpcNodes }} \
              {{- if .Values.introspector.verboseLogging }}
              -v \
              {{- end }}
              prometheus --port {{ .Values.introspector.prometheusPort }}
              {{- range .Values.introspector.extraArgs }}
              {{ . }} \
              {{- end }}
              {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.introspector.prometheusPort }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /metrics
              port: http
          readinessProbe:
            httpGet:
              path: /metrics
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
