# Default values for node.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## Provide a name in place of node for `app:` labels
##
nameOverride: ""

## Provide a name to substitute for the full names of resources
##
fullnameOverride: ""

## Additional common labels on pods and services
##
# extraLabels:
#   type: rpc


## Image of Polkadot Node.
##
image:
  repository: parity/polkadot
  tag: latest
  pullPolicy: Always
  ## Add `-x` shell option to container
  ## Note: passwords and keys used in container can appear in logs
  ##
  debug: false

## Image of Init containers to download chain
##
initContainer:
  image:
    repository: paritytech/lz4
    tag: latest
  ## Add `-x` shell option to initContainers
  ## Note: passwords and keys used in initContainers can appear in logs
  ##
  debug: false

## Image of kubectl to use for relay P2p service
##
kubectl:
  image:
    repository: paritytech/kubetools-kubectl
    tag: latest # Set at 1.22.15 Kubectl version

## Used to sync chain from/to GCS bucket
##
googleCloudSdk:
  image:
    repository: google/cloud-sdk
    tag: slim # more lightweight than the full image and still contains gsutil
  gsutilFlags: '-m -o "GSUtil:parallel_process_count=$(nproc --all)" -o "GSUtil:parallel_thread_count=2" -o "GSUtil:use_gcloud_storage=True"'
  # serviceAccountKey: ""

## Reference to one or more secrets to be used when pulling images
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
##
imagePullSecrets: []

## Service account for the node to use
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
##
serviceAccount:
  create: true
  createRoleBinding: true
  annotations: {}

  ## The name of the service account to use.
  ## If not set and create is true, a name is generated using the fullname template
  ##
  name: ""

## SecurityContext holds pod-level security attributes and common container settings.
## This defaults to non root user with uid 1000 and gid 1000.
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
##
podSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000

podDisruptionBudget:
  enabled: false
  #minAvailable:
  #maxUnavailable:

## Creates an ingress resource
##
ingress:
  enabled: false
  annotations: {}
  #  kubernetes.io/ingress.class: nginx
  #  kubernetes.io/tls-acme: "true"
  rules: []
  #  - host: chart-example.local
  #    paths:
  #      - serviceName: node
  #        servicePort: 9944
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local


## Deploy a substrate node
## ref: https://docs.substrate.io/tutorials/v3/private-network/
node:
  chain: "polkadot"
  command: "polkadot"
  replicas: 1
  role: full


  ## Node may require custom name for chainspec file.
  ## ref:  moonbeam https://github.com/PureStake/moonbeam/issues/1104#issuecomment-996787548
  ## Note: path should start with /chain-data/ since this folder mount in init container download-chainspec.
  ##
  customChainspecPath: "/chain-data/chainspec.json"
  # customChainspecUrl:
  forceDownloadChainspec: false

  chainData:
    ## Database backend engine to use
    ##
    database: rocksdb
    ## Set the amount of blocks to retain
    ##
    # pruning: 1000
    ## Configuration to download chain snapshot from remote URL
    ##
    # snapshotUrl: "https://dot-rocksdb.polkashots.io/snapshot"
    # snapshotFormat: lz4
    # kubernetesVolumeSnapshot: ""
    # kubernetesVolumeToClone: ""
    # GCSBucketUrl: ""
    # chainPath: ""
    ## Storage class to use for persistent volume
    ##
    storageClass: "default"
    volumeSize: 100Gi

  chainKeystore:
    ## Mount chain keystore in memory using an emptyDir volume
    ##
    mountInMemory:
      enabled: false
      # sizeLimit: 10Mi # Requires K8s >=1.22
    # kubernetesVolumeSnapshot: ""
    # kubernetesVolumeToClone: ""
    ## Storage class to use for persistent volume
    ##
    storageClass: "default"
    volumeSize: 10Mi
    accessModes: ["ReadWriteOnce"]

  ## Deploy a collator node
  ## ref: https://wiki.polkadot.network/docs/learn-collator
  ## If Collator is enabled, collator image must be used
  ##
  isParachain: false
  collatorRelayChain:
    ## Name of the Relay Chain to connect
    ##
    chain: polkadot

    ## Path to the file containing the chainspec of the collator relay-chain
    ##
    customChainspecPath: "/relaychain-data/relay_chain_chainspec.json"
    customChainspecUrl: ""
    chainData:
      ## Database backend engine to use for the collator relay-chain database
      ##
      database: rocksdb
      ## Set the amount of blocks to retain for the collator relay-chain databse
      ##
      # pruning: 1000
      ## Configuration to download chain snapshot from remote URL
      ##
      # snapshotUrl: "https://dot-rocksdb.polkashots.io/snapshot"
      # snapshotFormat: lz4
      # kubernetesVolumeSnapshot: ""
      # kubernetesVolumeToClone: ""
      # GCSBucketUrl: ""
      # chainPath: ""
      ## Storage class to use for persistent volume
      ##
      storageClass: "default"
      volumeSize: 100Gi
    chainKeystore:
      ## Mount relay-chain keystore in memory using an emptyDir volume
      ##
      mountInMemory:
        enabled: false
        # sizeLimit: 10Mi # Requires K8s >=1.22
      # kubernetesVolumeSnapshot: ""
      # kubernetesVolumeToClone: ""
      ## Storage class to use for persistent volume
      ##
      storageClass: "default"
      volumeSize: 10Mi
      accessModes: ["ReadWriteOnce"]

    ## Expose relay chain metrics via Prometheus format in /metrics endpoint
    ## Pass the following args:
    ##   - "--prometheus-external" \
    ##   - "--prometheus-port {{ port }}"
    ##
    prometheus:
      enabled: false
      port: 9625
    flags: []
  ## Additional args to use
  ##
  flags: []

  ## Keys to use by the node
  ## ref: https://wiki.polkadot.network/docs/learn-keys
  ##
  keys: {}
  # - type: "gran"
  #   scheme: "ed25519"
  #   seed: "//Alice//gran"
  # - type: "babe"
  #   scheme: "sr25519"
  #   seed: "//Alice"
  #   extraDerivation: //babe

  ## Inject keys from already existing kubernetes secrets
  existingSecrets:
    ## List of keys to be added to keystore
    keys: []

    ## K8s secret with node key
    nodeKey: {}
      # secretName: existing-node-secret
      # secretKey: my-node-key

  ## Component to inject secrets via annotation of Hashicorp Vault
  ## ref: https://www.vaultproject.io/docs/platform/k8s/injector/annotations
  ##
  vault:
    ## Vault annotations to use
    ##
    #authPath: ""
    #authRole: ""
    #authType: ""
    #authConfigType: ""
    #authConfigServiceAccount: ""

    ## Keys to fetch from Hashicorp Vault and set on the node
    ##
    keys: {}
      # - name: grankey
      #   type: type
      #   scheme: scheme
      #   vaultPath: kv/secret/grankey
      #   vaultKey: gran
      #   extraDerivation: //
      # - name: babekey
      #   type: type
      #   scheme: scheme
      #   vaultPath: kv/secrets/babeKey
      #   vaultKey: babe

    ## Node key to use via vault
    ##
    nodeKey: {}
      # name: nodekey
      # vaultPath: kv/secret/nodekey
      # Remark; vaultKey cannot contain dashes ('-'), only alphanumeric characters due to a limitation in the go templating
      # vaultKey: key
      # vaultKeyAppendPodIndex: false

  ## If enabled, generate a persistent volume to use for the keys
  ##
  persistGeneratedNodeKey: false
  # customNodeKey: ""

  ## Expose metrics via Prometheus format in /metrics endpoint
  ## Pass the following args:
  ##   - "--prometheus-external" \
  ##   - "--prometheus-port {{ .Values.node.prometheus.port }}"
  ##
  prometheus:
    enabled: true
    port: 9615

  ## Enable Service Monitor of Prometheus-Operator
  ## ref: https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/getting-started.md#include-servicemonitors
  ##
  serviceMonitor:
    enabled: false
    #namespace: monitoring
    interval: 30s
    scrapeTimeout: 10s
    targetLabels:
      - node
    relabelings: []
    metricRelabelings: []

  serviceAnnotations: {}

  ## Configuration of individual services of node
  ##
  perNodeServices:
    ## If enabled, generic service to expose common node APIs
    ##
    apiService:
      enabled: true
      externalTrafficPolicy: Cluster
      type: ClusterIP # or NodePort, LoadBalancer
      annotations: {}
      httpPort: 9933
      wsPort: 9944
      prometheusPort: 9615
      relayChainPrometheusPort: 9625
      externalDns:
        enabled: false
        hostname: example.com
        ttl: 300
    ## If enabled, create service to expose relay chain P2P
    ##
    relayP2pService:
      enabled: false
      externalTrafficPolicy: Cluster
      type: NodePort # or ClusterIP or LoadBalancer
      port: 30333
      annotations: {}
      externalDns:
        enabled: false
        hostname: example.com
        ttl: 300
      # If enabled, additionally expose WebSocket port. Useful for bootnodes
      ws:
        enabled: false
        port: 30334
    ## If enabled, create service to expose parachain P2P
    ##
    paraP2pService:
      enabled: false
      externalTrafficPolicy: Cluster
      type: NodePort # or ClusterIP, LoadBalancer
      port: 30334
      annotations: {}
      externalDns:
        enabled: false
        hostname: example.com
        ttl: 300
      # If enabled, additionally expose WebSocket port. Useful for bootnodes
      ws:
        enabled: false
        port: 30335
    ## If enabled, set `--public-addr` flag to be the NodePort p2p services external address
    ##
    setPublicAddressToExternalIp:
      enabled: false
      ipRetrievalServiceUrl: https://ifconfig.io

  ## Pod management policy of stateful set
  ## ref: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#pod-management-policies
  ##
  # podManagementPolicy: Parallel

  ## Enables Jaeger Agent as a sidecar
  ##
  tracing:
    enabled: false

  ## Enables Sustrate API as a sidecar
  ##
  substrateApiSidecar:
    enabled: false

  ## Enable Node container's startup probe
  ##
  enableStartupProbe: true

  ## Enable Node readiness probe through `paritytech/ws-health-exporter` running as a sidecar container
  ##
  enableSidecarReadinessProbe: false

  ## Resource limits & requests
  ##
  resources: {}

  ## Create backup on startup using an init container
  ##
  enableChainBackupGcs: false
  #chainBackupGcsUrl:

  ## Define the WASM runtime overrides directory path
  ##
  wasmRuntimeOverridesPath: "/chain-data/runtimes"
  ## Download a WASM runtime to override the on-chain runtime when the version matches
  ## Note that this will download the runtime file in the directory specified in `node.wasmRuntimeOverridesPath`
  ## Then on startup, the node will load all runtime files from this directory including previously downloaded runtimes
  ##
  wasmRuntimeUrl: ""
  allowUnsafeRpcMethods: false
  logLevels: []
  telemetryUrls: []

  # A list of environment variables to set for the main container:
  # - name: foo
  #   value: bar
  extraEnvVars: []

  ## Mount already existing ConfigMaps into main container.
  ## https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#populate-a-volume-with-data-stored-in-a-configmap
  extraConfigmapMounts: []
    # - name: extra-configmap
    #   configMap: my-configmap
    #   optional: true
    #   mountPath: /etc/config/
    #   readOnly: true

## Configuration of Substrate API
## ref: https://github.com/paritytech/substrate-api-sidecar
##
substrateApiSidecar:
  image:
    repository: parity/substrate-api-sidecar
    tag: latest
  env: {}
  resources: {}

## Configuration of the WS Health exporter
## ref: https://github.com/paritytech/scripts/tree/master/dockerfiles/ws-health-exporter
##
wsHealthExporter:
  image:
    repository: paritytech/ws-health-exporter
    tag: latest
  resources: {}

## Configuration of Jaeger agent
## https://github.com/jaegertracing/jaeger
##
jaegerAgent:
  image:
    repository: jaegertracing/jaeger-agent
    tag: latest
  ports:
    # accept jaeger.thrift over compact thrift protocol
    compactPort: 6831
    # accept jaeger.thrift over binary thrift protocol
    binaryPort: 6832
    # (HTTP) serve configs, sampling strategies
    samplingPort: 5778
  collector:
    url: null
    # Jaeger Default GRPC port is 14250
    port: 14250
  env: {}
  resources: {}

## Annotations to add to the node pod
##
podAnnotations: {}

## Define which Nodes the Pods are scheduled on.
##
nodeSelector: {}

terminationGracePeriodSeconds: 60

## Tolerations for use with node taints
##
tolerations: []

## Assign custom affinity rules
##
affinity: {}

## Additional containers to run in the pod
##
extraContainers: []

## Additional init containers to run in the pod
##
extraInitContainers: []

## Autoscaling configuration
autoscaling:
  enabled: false
  minReplicas: ""
  maxReplicas: ""
  targetCPU: ""
  targetMemory: ""
  additionalMetrics: {}
